@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Thin.woff2') format('woff2'),
        url('MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Light.woff2') format('woff2'),
        url('Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Thin.woff2') format('woff2'),
        url('BarlowSemiCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ThinItalic.woff2') format('woff2'),
        url('Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Bold.woff2') format('woff2'),
        url('MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ThinItalic.woff2') format('woff2'),
        url('BarlowCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('BarlowSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
<<<<<<< HEAD
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Thin.woff2') format('woff2'),
        url('Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff');
=======
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
>>>>>>> parent of f4ea75f... .
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
<<<<<<< HEAD
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('BarlowSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
=======
    font-family: 'Barlow';
    src: url('Barlow-Thin.woff2') format('woff2'),
        url('Barlow-Thin.woff') format('woff');
    font-weight: 100;
>>>>>>> parent of f4ea75f... .
    font-style: normal;
}

@font-face {
<<<<<<< HEAD
=======
    font-family: 'Montserrat';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('BarlowSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
>>>>>>> parent of f4ea75f... .
    font-family: 'Barlow';
    src: url('Barlow-LightItalic.woff2') format('woff2'),
        url('Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Thin.woff2') format('woff2'),
        url('BarlowCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.woff2') format('woff2'),
        url('Barlow-Italic.woff') format('woff');
    font-weight: normal;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of f4ea75f... .
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
<<<<<<< HEAD
=======
>>>>>>> parent of f4ea75f... .
=======
>>>>>>> parent of f4ea75f... .
    font-style: italic;
}

@font-face {
<<<<<<< HEAD
<<<<<<< HEAD
=======
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
>>>>>>> parent of f4ea75f... .
=======
>>>>>>> parent of f4ea75f... .
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-BoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('BarlowCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Light.woff2') format('woff2'),
        url('MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-LightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-MediumItalic.woff2') format('woff2'),
        url('Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraLight.woff2') format('woff2'),
        url('BarlowCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('BarlowSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Medium.woff2') format('woff2'),
        url('BarlowCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Light.woff2') format('woff2'),
        url('BarlowCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Black.woff2') format('woff2'),
        url('Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Italic.woff2') format('woff2'),
        url('BarlowSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates Black';
    src: url('MontserratAlternates-Black.woff2') format('woff2'),
        url('MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Regular.woff2') format('woff2'),
        url('MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.woff2') format('woff2'),
        url('Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-LightItalic.woff2') format('woff2'),
        url('BarlowCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLight.woff2') format('woff2'),
        url('Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
<<<<<<< HEAD
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Light.woff2') format('woff2'),
        url('BarlowSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Bold.woff2') format('woff2'),
        url('BarlowCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
<<<<<<< HEAD
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.woff2') format('woff2'),
        url('Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
=======
}

@font-face {
=======
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Light.woff2') format('woff2'),
        url('BarlowSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Bold.woff2') format('woff2'),
        url('BarlowCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
>>>>>>> parent of f4ea75f... .
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.woff2') format('woff2'),
        url('Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
<<<<<<< HEAD
>>>>>>> parent of f4ea75f... .
=======
>>>>>>> parent of f4ea75f... .
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Italic.woff2') format('woff2'),
        url('BarlowCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Medium.woff2') format('woff2'),
        url('MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Black.woff2') format('woff2'),
        url('BarlowCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-BlackItalic.woff2') format('woff2'),
        url('BarlowCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraBold.woff2') format('woff2'),
        url('BarlowCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}



h2 {
    font-family: 'Montserrat Alternates';
    
}
p, a, .bt_bb_headline_subheadline, .bt_bb_button_text {
    font-family: 'Barlow'!important;
}

.acerca {
           max-width: 500px;
    /* display: block; */
    margin: auto;
}

.contact  s:after {
    background-image: linear-gradient(to right,#e50075 0%,#f9b000 100%)!important;
}
.log {
       margin-bottom: 20px!important;
}
.col {
        position: relative;
    float: right;
      
    .datos {
        color: white;
    }
}
.agencia {
    margin-top: 20px;
}
.flex {
    display: flex;
    flex-wrap: wrap;

    &.nowrap {
        flex-wrap: nowrap;
    }

    .bloque {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
        .icon {
                margin-right: 21px;
        }
        .icon2 {
                margin-left: 20px;
        }
    }
    .bloque2 {
        width: 25%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
    }
     .bloque3 {
        width: 33%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
    }
}
.col2 .bt_bb_row .bt_bb_column .bt_bb_column_content {
   
     color: white;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    .col {
        width: 50%;
    }
    .col2 {
        width: 33%;
    }
}
.col2 h3 {
    font-size: 2.5em!important;
}
.col2 form,  .col2 h3, .col2 p{
     color: white;
     width: 75%;
}

.registro a{
    background: #e50075!important;
}
.headerviva {
        font-size: 15px;
     font-family: 'Montserrat';
    text-align: center;
         margin-bottom: 35px;
        margin-left: -1208px;
    margin-right: -1207px;
    background-color: #00a4af;
        padding: 10px;

    
    a,span {
        margin-left: 20px;
    }
    span {
    color: #f9b000;
   &.cambio {
    
    color: white!important;
 //   background-color: #00a4af!important;
   // border-radius: 10px 10px!important;
//    border: 0px solid #000000!important;
  //  padding: 10px;
        font-weight: bold;
}

        
        
}
    a {
         color: white!important;
    background-color: #f9b000!important;
    border-radius: 10px 10px!important;
    border: 0px solid #000000!important;
    padding: 5px;
    }
}


.btLogoArea .logo img {
   margin-top: -30px;
   
     
}

.menuPort {
    font-family: "Montserrat";
    color: #00a4af;
   
    
}
.btMenuHorizontal .menuPort > nav > ul > li > a {
  
    margin-left: -10px;
    margin-right: -10px!important;
}
.btSearch {
    color: black;
}

@media (max-width: 1200px) {
    .headerviva {
        display: none;
    }
    .btLogoArea .logo img {
   
    margin-top: auto;

    }
        

}


.tours .btSingleTourHeadline a {
    color: #00a4af!important;
}
.tips_viajes {
        max-width: 418px;
    margin-left: 10px;
}

.directorio  .bt_bb_headline_content span {
        line-height: 30px;
}

.btTourSingleItemStandard .btSingleTourInfo .btSingleTourInfoInner .btTourBook a {

    background: #e50075!important;
}

.btTourIcon {
        margin-left: 50px;
    margin-right: 50px;
}



.ewd-feup-submit {
    background-color: #f9b000!important;
    color: white!important;
    font-weight: bold!important;
}
.registrar {
        margin-left: 10px;
    background-color: #e50075;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
            top: -71px;
    left: 246px;
}
.registrar2 {
        margin-left: 10px;
    background-color: #e50075;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
        top: 223px;
        left: 105px;
}
.pasajero {
        margin-left: 10px;
    background-color: #00a4af;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
        top: 179px;
       left: -379px;
}
.con2 {
        position: relative;
    top: 192px;
       left: -112px;
    color: white!important;
    text-decoration: underline;
}
p.olvidar a {
   position: relative;
    top: -46px;
   color: white!important;
    text-decoration: underline;
}
p.poli a {
   position: relative;
    top: -46px;
   color: white!important;
}
.ewd-feup-login-submit {
     padding: 19px 60px!important;
    
}
.feup-pure-form-aligned .feup-pure-control-group {
    /* float: left; */
   /* padding: 10px 246px;*/
}

#btTourReviewsTab {
    display: none;
}

.btTourSingleItemStandard .btSingleTourInfo {
    
background: #00a4af!important;
}



input:not([type='checkbox']):not([type='radio']):not([type='submit']) {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%!important;
}


.feup-pure-form-aligned .feup-pure-control-group label {
    float: initial;
    text-align: left;
    display: -webkit-box;
    vertical-align: middle;
    width: 13em;
    padding: 10px;
    
}
.feup-pure-form textarea {
    width: 100%;
}

#ewd-feup-password-result {
    /* margin-top: 30px; */
    padding: 5px;
}

body.page-id-4178 #ewd-feup-login {
    position: relative;
        left: 280px;
}
.ewd-feup-text-input {
    height: 2.5rem!important;
    line-height: 1rem!important;
}

.ewd-feup-register-field-instructions {
    width: 100%;
}


.feup-pure-form-aligned .feup-pure-control-group {
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    clear: both;
}
body.page-id-4121 .feup-pure-form-aligned .feup-pure-control-group {
    float: left;
    width: 100%;
}
body.home .feup-pure-form-aligned .feup-pure-control-group {
    float: left;
    width: 100%;
}
body.page-id-4178 .feup-pure-form-aligned .feup-pure-control-group{
     float: left;
    width: 50%;
}
    

body.page-id-4178 .ewd-feup-submit .ewd-feup-login-submit {
        position: relative;
    left: 96px;
}
body.page-id-4178 .feup-pure-button {
   width: 35%!important;
    position: relative;
        left: 190px;
}
body.home .feup-pure-button {
    width: 45%!important;
}
.logo2 {
    border-radius: 50%;
    display: block;
        margin: auto;
        height: 200px;
    width: 200px;
    margin-top: 20px;
}
.btWithSidebar .btContentHolder .btSidebar {
    width: 25%;
    height: 46%;
    padding: 0;
}
#app {
   


a{
  text-decoration: none;
   
    
   transition: all 0.6s ease;
  
  &:hover{
      transition:all 0.6s ease;
  }
}

.app{
  height: 100vh;
}
/* -------------
Sidebar
----------------*/
.sidebar {
  
    position: absolute;
    width: 18.7em;
                height: 100%;
    overflow: hidden;
     background-color: #0ba4a8;
  -webkit-transform: translateZ(0);
  visibility: visible;
  -webkit-backface-visibility: hidden;
  
  header{
    background-color: #09f;
    width: 100%;
    display:block;
    padding: 0.75em	1em;
  }
}

/* -------------
Sidebar Nav
----------------*/
    .dos {
        background-color: #0b8288;
    }
.sidebar-nav {
  position: fixed;
  //width: 13em;
  background-color: #0ba4a8;
  height: 100%;
  font-weight: 400; 
  font-size: 1.2em;
  overflow: auto;
  padding-bottom: 6em;
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
      position: relative;
  
  ul{
    list-style:none;
    display: block;
    padding: 0;
    margin: 0;
    
    li{
      margin-left: 0;
      padding-left: 0;
      //min-width: ;3em;
      display:inline-block;
      width: 100%;
        border-top: 2px solid #7fcbcd;
        span {
                color: rgba(255, 255, 255, 0.9);
         font-size: 20px;
  padding: 0px 1em;
    position: relative;
    display: block;
                margin-bottom: -20px;
        margin-top: -7px;
        }
}

      
      a{
        color: rgba(255,255,255,0.9);
        font-size: 0.75em;
        padding: 1.05em	1em;
        position: relative;
        display:block;
        
        &:hover{
          background-color: rgba(0,0,0,0.9);
           transition:all 0.6s ease;
            padding: 1.05em	1em;
        }
      }
/* -------------
Sidebar: icons
----------------*/
      i{
        font-size: 1.8em;
        padding-right: 0.5em;
        width: 9em;
        display: inline;
        vertical-align:middle;
      }  
    }
  }

/* -------------
Chev elements
----------------*/ 
  & > ul > li > a:after {
    content: '\f125';
    font-family: ionicons;
    font-size: 0.5em;
    width: 10px;
    color: #fff;
    position: absolute;
    right: 0.75em;
    top: 45%;
  }
/* -------------
Nav-Flyout
----------------*/
  & .nav-flyout {
    position: absolute;
    background-color: #080D11;
    z-index: 9;
    left: 2.5em;
    top: 0;
  //  height: 100vh;
    transform:translateX(100%);
    transition:all 0.5s ease;
    
    a:hover{
      background-color: rgba(255,255,255, 0.05)
    }
  }

/* -------------
Hover
----------------*/
  & ul > li:hover{
      .nav-flyout{
      transform:translateX(0);
         transition:all 0.5s ease;
    }
  }
}

aside {
    background-color: #0ba4a8;
    padding: 10px;
    #aviso {
        p.tit {
                text-align: center;
    color: white;
        }
        p.editar {
             text-align: center;
            a {
                color: white;
            text-decoration: underline;
            }
        }
        
    }
    .btSearch{
            position: relative;
    left: 15px;
    background: white;
        
    }
    }

    .btLightSkin .btBox .btSearchToursWidget .tour_search, .btDarkSkin .btLightSkin .btBox .btSearchToursWidget .tour_search, .btLightSkin .btDarkSkin .btLightSkin .btBox .btSearchToursWidget .tour_search {
        background: none !important;
    }

body.page-id-5288 {
    #contacto {
           margin-top: 80px;
    }
#CF5d531c10ba4c1_1-row-1    .col-sm-12 {
            margin-top: -92px;
    }
    .col2 form {
            width: 100%;
    }
 .bt_bb_text {
    margin-top: 80px;
}
    .btn {
         background-color: #e50075;

    color: white!important;
    font-weight: bold;
   
    }
}

body.page-id-4121 {
    .feup-pure-control-group img {
        position: relative;
    left: -250px;
}
    label {
        color: white;
    }
    span#ewd-feup-password-result {
        color: white;
    }
}