@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBold.woff2') format('woff2'),
        url('Barlow-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraBoldItalic.woff2') format('woff2'),
        url('Barlow-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Thin.woff2') format('woff2'),
        url('MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Light.woff2') format('woff2'),
        url('Barlow-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Thin.woff2') format('woff2'),
        url('BarlowSemiCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ThinItalic.woff2') format('woff2'),
        url('Barlow-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Bold.woff2') format('woff2'),
        url('MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ThinItalic.woff2') format('woff2'),
        url('BarlowCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Black.woff2') format('woff2'),
        url('BarlowSemiCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-SemiBold.woff2') format('woff2'),
        url('Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Thin.woff2') format('woff2'),
        url('Barlow-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Regular.woff2') format('woff2'),
        url('BarlowCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBoldItalic.woff2') format('woff2'),
        url('Barlow-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Medium.woff2') format('woff2'),
        url('BarlowSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Regular.woff2') format('woff2'),
        url('Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-LightItalic.woff2') format('woff2'),
        url('Barlow-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Thin.woff2') format('woff2'),
        url('BarlowCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Medium.woff2') format('woff2'),
        url('Barlow-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Italic.woff2') format('woff2'),
        url('Barlow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-MediumItalic.woff2') format('woff2'),
        url('BarlowCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-BoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Thin.woff2') format('woff2'),
        url('Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('BarlowCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Light.woff2') format('woff2'),
        url('MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-LightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLightItalic.woff2') format('woff2'),
        url('Barlow-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-MediumItalic.woff2') format('woff2'),
        url('Barlow-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraLight.woff2') format('woff2'),
        url('BarlowCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-SemiBold.woff2') format('woff2'),
        url('Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed ExLight';
    src: url('BarlowSemiCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Regular.woff2') format('woff2'),
        url('BarlowSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Medium.woff2') format('woff2'),
        url('BarlowCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraLight.woff2') format('woff2'),
        url('Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url('MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Light.woff2') format('woff2'),
        url('BarlowCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Black.woff2') format('woff2'),
        url('Barlow-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Italic.woff2') format('woff2'),
        url('BarlowSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates Black';
    src: url('MontserratAlternates-Black.woff2') format('woff2'),
        url('MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Regular.woff2') format('woff2'),
        url('MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BlackItalic.woff2') format('woff2'),
        url('Barlow-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-ExtraBold.woff2') format('woff2'),
        url('Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-LightItalic.woff2') format('woff2'),
        url('BarlowCondensed-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-ExtraLight.woff2') format('woff2'),
        url('Barlow-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-ThinItalic.woff2') format('woff2'),
        url('BarlowSemiCondensed-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Light.woff2') format('woff2'),
        url('Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-Light.woff2') format('woff2'),
        url('BarlowSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-Bold.woff2') format('woff2'),
        url('Barlow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('BarlowCondensed-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Bold.woff2') format('woff2'),
        url('BarlowCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('Barlow-BoldItalic.woff2') format('woff2'),
        url('Barlow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Italic.woff2') format('woff2'),
        url('BarlowCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('MontserratAlternates-Medium.woff2') format('woff2'),
        url('MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('BarlowSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-Black.woff2') format('woff2'),
        url('BarlowCondensed-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-BlackItalic.woff2') format('woff2'),
        url('BarlowCondensed-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url('BarlowCondensed-ExtraBold.woff2') format('woff2'),
        url('BarlowCondensed-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}



h2 {
    font-family: 'Montserrat Alternates';
    
}
p, a, .bt_bb_headline_subheadline, .bt_bb_button_text {
    font-family: 'Barlow'!important;
}

.acerca {
           max-width: 500px;
    /* display: block; */
    margin: auto;
}

.contact  s:after {
    background-image: linear-gradient(to right,#e50075 0%,#f9b000 100%)!important;
}
.log {
       margin-bottom: 20px!important;
}
.col {
        position: relative;
    float: right;
      
    .datos {
        color: white;
    }
}
.agencia {
    margin-top: 20px;
}
.flex {
    display: flex;
    flex-wrap: wrap;

    &.nowrap {
        flex-wrap: nowrap;
    }

    .bloque {
        width: 100%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
        .icon {
                margin-right: 21px;
        }
        .icon2 {
                margin-left: 20px;
        }
    }
    .bloque2 {
        width: 25%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
    }
     .bloque3 {
        width: 33%;
        padding: 0px 20px;
        box-sizing: border-box;
        &.align-self-end {
            align-self: flex-end;
        }
    }
}
.col2 .bt_bb_row .bt_bb_column .bt_bb_column_content {
   
     color: white;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    .col {
        width: 50%;
    }
    .col2 {
        width: 33%;
    }
}
.col2 h3 {
    font-size: 2.5em!important;
}
.col2 form,  .col2 h3, .col2 p{
     color: white;
     width: 75%;
}

.registro a{
    background: #e50075!important;
}
.headerviva {
        font-size: 15px;
     font-family: 'Montserrat';
    text-align: center;
         margin-bottom: 35px;
        margin-left: -1208px;
    margin-right: -1207px;
    background-color: #00a4af;
        padding: 10px;

    
    a,span {
        margin-left: 20px;
    }
    span {
    color: #f9b000;
   &.cambio {
    
    color: white!important;
 //   background-color: #00a4af!important;
   // border-radius: 10px 10px!important;
//    border: 0px solid #000000!important;
  //  padding: 10px;
        font-weight: bold;
}

        
        
}
    a {
         color: white!important;
    background-color: #f9b000!important;
    border-radius: 10px 10px!important;
    border: 0px solid #000000!important;
    padding: 5px;
    }
}


.btLogoArea .logo img {
   margin-top: -30px;
   
     
}

.menuPort {
    font-family: "Montserrat";
    color: #00a4af;
   
    
}
.btMenuHorizontal .menuPort > nav > ul > li > a {
  
    margin-left: -10px;
    margin-right: -10px!important;
}
.btSearch {
    color: black;
}

@media (max-width: 1200px) {
    .headerviva {
        display: none;
    }
    .btLogoArea .logo img {
   
    margin-top: auto;

    }
        

}


.tours .btSingleTourHeadline a {
    color: #00a4af!important;
}
.tips_viajes {
        max-width: 418px;
    margin-left: 10px;
}

.directorio  .bt_bb_headline_content span {
        line-height: 30px;
}

.btTourSingleItemStandard .btSingleTourInfo .btSingleTourInfoInner .btTourBook a {

    background: #e50075!important;
}

.btTourIcon {
        margin-left: 50px;
    margin-right: 50px;
}



.ewd-feup-submit {
    background-color: #f9b000!important;
    color: white!important;
    font-weight: bold!important;
}
.registrar {
        margin-left: 10px;
    background-color: #e50075;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
        top: -88px;
    left: 246px;
}
.registrar2 {
        margin-left: 10px;
    background-color: #e50075;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
        top: 223px;
    left: 486px;
}
.pasajero {
        margin-left: 10px;
    background-color: #00a4af;
       padding: 19px 60px;
   margin-top: 20px;
    color: white!important;
    font-weight: bold;
    position: relative;
        top: 179px;
    left: 28px;
}
.con2 {
        position: relative;
    top: 192px;
    left: 280px;
    color: white!important;
    text-decoration: underline;
}
p.olvidar a {
   position: relative;
    top: -46px;
   color: white!important;
    text-decoration: underline;
}
p.poli a {
   position: relative;
    top: -46px;
   color: white!important;
}
.ewd-feup-login-submit {
     padding: 19px 60px!important;
    
}
.feup-pure-form-aligned .feup-pure-control-group {
    /* float: left; */
   /* padding: 10px 246px;*/
}

#btTourReviewsTab {
    display: none;
}

.btTourSingleItemStandard .btSingleTourInfo {
    
background: #00a4af!important;
}

body.page-id-4121 input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, select, .fancy-select .trigger {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%!important;
}

body.page-id-4121 input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, select, .fancy-select .trigger {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%!important;
}
body.page-id-4178 input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, select, .fancy-select .trigger {
     -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 200%!important;
    
}
body.home input:not([type='checkbox']):not([type='radio']):not([type='submit']), textarea, select, .fancy-select .trigger {
     -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 200%!important;
    
}
.feup-pure-form-aligned .feup-pure-control-group label {
    float: initial;
    text-align: left;
    display: -webkit-box;
    vertical-align: middle;
    width: 13em;
    padding: 10px;
    
}
#ewd-feup-register-input-4 {
    width: 220%!important;
}
#ewd-feup-register-input-12 {
        width: 120%!important;
}
#ewd-feup-password-result {
    /* margin-top: 30px; */
    padding: 5px;
}

body.page-id-4178 #ewd-feup-login {
    position: relative;
    left: 378px;
}
.ewd-feup-text-input {
    height: 2.5rem!important;
    line-height: 1rem!important;
}

.feup-pure-form-aligned .feup-pure-control-group {
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    clear: both;
}
body.page-id-4121 .feup-pure-form-aligned .feup-pure-control-group {
    float: left;
    width: 100%;
}

body.page-id-4178 .ewd-feup-submit ewd-feup-login-submit {
        position: relative;
    left: 96px;
}