@media screen and (max-width: 750px) {
    .lap{
        display: none!important;;
    }
    .cel{
        display: inherit!important;
    }
    
    #contactoviva{
    #contacto {
        position: relative;
    left: -25px;
    }
        .feup-pure-button {
    width: 100%!important;
}
        
        .registrar {
            width: 100%!important;
                position: relative;
    top: -42px;
    left: -21px;
    float: left;
            text-align: center;
        }
        .col2 form, .col2 h3, .col2 p  {
                width: 100%;
        }
    }
    nav {
            position: relative;
    left: 174px;
    }
    p.olvidar, p.poli, p.poli2{ 
        text-align: center!important;
        a {
        color: black!important;
            top: inherit;
            left: inherit;
            
        }
    }
    
    body.home{
        .fotoacerca {
                margin-bottom: -100px!important;
    margin-top: -53px!important;
        }
        .acerca_viva {
         padding: 65px 0px!important;
    margin-top: 0px;
    margin-bottom: 0px;
        h2{
                margin-top: 12px;
            b {
   
    position: relative;
    top: -13px!important;
}
            span {
    
    position: relative;
        top: 16px!important;
}
            
}
        .bt_bb_port{
            position: relative;
    top: -40px!important;
        }
    }
        .avion {
    position: relative;
    left: 122px;
    top: 116px;
    margin-top: -90px;
    max-width: 30%;
}
        .avion2 {
    position: relative;
    top: 40px;
    left: -108px;
}
        .rosa2 {
    position: relative;
    left: 0px;
}
       .avion3 {
    position: relative;
    width: 30%;
    left: -90px;
    top: 105px;
    margin-top: -117px;
}
        
    }
   /* body.home .acerca_viva_movil {
            padding: 65px 0px!important;
        margin-top: 0px!important;
    margin-bottom: 0px!important;
        
        
        
        h2 b {
   
    position: relative;
    top: -13px!important;
}
   h2 span {
    
    position: relative;
    top: 42px!important;
}
    }*/
    
}